@{
    ViewData["Title"] = "Index Home";
}

@section SideBar {
    <h3>Bienvenido!</h3>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Continental_Breakfast.jpg/1024px-Continental_Breakfast.jpg" alt="desayuno-continental" />
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Paula_Modersohn-Becker_022.jpg/800px-Paula_Modersohn-Becker_022.jpg" alt="pintura-desayuno" />
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Breakfast_manitou2121.jpg/1024px-Breakfast_manitou2121.jpg" alt="desayuno-frutas" />
}



<p>El desayuno es la primera comida que se consume en el día. El nombre deriva del hecho de que uno no come mientras duerme, por lo que al levantarse se encuentra en ayunas, rompiéndose ese ayuno al tomar esta comida (des-ayuno).</p>

<p>El desayuno es la comida fundamental del día, ya que consumirlo o no, nos afecta de forma notable a corto y a largo plazo. Se ha demostrado que los niños que no desayunan o que solo toman un vaso de leche, rinden menos en el colegio que los que ingieren un desayuno adecuado. Estudios recientes afirman que el desayunar ayuda a acelerar el metabolismo, lo cual es un factor beneficioso para prevenir la obesidad.​</p>

<p>El desayuno continental es un tipo de desayuno basado en el desayuno francés o sea lo que suelen desayunar los franceses. Consiste típicamente en café y leche (a menudo mezclados como café con leche o capuchino) o chocolate caliente, acompañados con una variedad de bollos dulces tales como el brioche y pasteles tales como el cruasán, a menudo acompañados por mermelada, crema o relleno de chocolate. Se sirve a menudo con zumo.</p>
